.bg-azul {
  background-color: #0947bb;
}

.bg_azul-medio {
  background-color: #0d6efd;
  color: white;
}

.bg_azul-claro {
  background-color: #cfe2ff;
}

.bg_verde {
  background-color: #50e9a0;

  &:hover {
    background-color: #50e9a0;
  }
}

.bg_rosa {
  background-color: #f28cb1;

  &:hover {
    background-color: #f28cb1;
  }
}

header {
  & .bi {
    font-size: 3vh;
    color: white;
  }

  & .img-logo {
    width: 100px;
  }
}

.img-perfil {
  height: 200px;
  width: 200px;

  & .box_input-file {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}

.circulo_legenda {
  height: 15px;
  width: 15px;
}

td {
  height: 5vw;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #cfe2ff;
  }
}
